<!DOCTYPE html>
<html lang="en">
    <head>
    <% include head %>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <script type="text/javascript" src="/javascripts/scripts.js"></script>
    <title>City Runner</title>
    </head>
    <body>
        <div class="col-xs-8 col-sm-8 col-md-6" id="wrapper">
            <div id="map"></div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3" id="instructions">
        </div>
    </body>
</html>