<!-- Display for user:
    Message: 
    Data: distance, time (comes from TIMESTAMP), calories -->
<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<%include head %>
</head>
<body>
	<%include navbar %>
	<h1>Your Results</h1>
	<div class="container">
		<div class="row">
			<div>

			</div>
		</div>
	</div>


</body>
</html>